.grid {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}

.buttons img {
    padding: 10px;
}

.grid hr {
    margin-top: 50px;
    color: red;
    background-color: #ffc107;
    height: 2px;
    border: none;
}

#score {
    color: #ffc107;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "monospace";
    font-size: 40px;
    color: #ffc107;
    text-align: center;
}

.buttons {
    margin-top: 30px;
    text-align: center;
}

#btn0,
#btn1,
#btn2,
#btn3 {
    position: relative;
    padding: 0px;
    font-size: 20px;
    color: #fff;
    border: none;
    margin: 10px 20px 10px 0px;
    width: 23%;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
    cursor: pointer;
    background-color: #ffc107;
}

.right-choice {
    background-color: #07ff07;
    color: #07ff07;
}

.wrong-choice {
    background-color: #ff0707;
    color: #ff0707;
}

.grid .color-red {
    color: #ff0707;
}

.grid .color-green {
    color: #07ff07;
}

.quiz-icon {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}

#progress-next {
    font-size: 20px;
    color: #ffc107;
}

.btn-quizz {
    transition: all .5s ease;
    color: #000000;
    border: 3px solid #000000;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    max-width: 300px;
    cursor: pointer;
    margin: 38px auto;
}

.btn-quizz:hover, .btn-quizz:active {
    color: #ffffff;
    background-color: #000000;
}

@media only screen and (max-width: 1235px) {

    #btn0,
    #btn1,
    #btn2,
    #btn3 {
        width: 45%;
    }
}

@media only screen and (max-width: 500px) {

    #btn0,
    #btn1,
    #btn2,
    #btn3 {
        width: 100%;
    }
}